div#content { min-height:500px; }

.pg-home-index div#content,
.pg-users-show div#content { min-height:1000px; }

#viewstack{ clear:both }
#viewstack ul{ float:left }

.view {  min-height:100px; }
.view-in { background:white }
.ajax-content-white { background-image: none !important; }

div#footer {margin:20px 0; !important}
div#footer ul#menu-footer {padding-left: 300px !important}

ul#menu-estilos { background: #fff none;border:1px outset #E2E2E2;width:171px;height:auto; }

.post { background:#fff; min-height:50px; overflow:hidden; }

.post span.full_name { color:#999999;font-size:12px; }
.post span.subject {  }

.posting-error { text-align: center; color: red; background: #ccc; padding: 10px; clear:both;font-size:18px; }

.post .execute { min-height:25px; }
.post li.hora { width:100% !important ; }

.post li.icons { text-align:right; }




/* of7 at R3 till this point  */








.chama-menu { cursor:pointer; }

.arrow-right { background: url(/images/layout/arrow_icon_right.png) no-repeat 20px 3px !important; }

ul.menu-add li.mais a { padding: 5px; }




div#img-user {
	width:200px;
	min-height:200px;
	float:left;
	margin:20px 0 20px 20px;
	display:inline;
}
div#img-user * {
  position:absolute;
}

div#img-user a{
	background: url(/images/layout/busca_photo.png); width:100px; height:100px; display: block;margin-left:100px;
}
div#img-user a:hover {
	background:url(/images/layout/busca_photo_over.png) no-repeat;
}

div#user-following {
  min-height: 132px;
}

.loading {
  clear:both;
	background:url(/images/layout1/ajax_loader_squares.gif) no-repeat center center;
	min-height:100px;
}







ul#of7-tabs {
	width:519px;
	float:right;
	list-style:none;
	background-color:#f4f1e6;
	padding:15px 0 0 20px;
	margin:0 0 20px 0;
}
ul#of7-tabs li {
	float:left;
	background:#fff url(/images/layout/bg_aba.jpg) repeat-x bottom;
	margin:0 4px 0 0;
	font-size:13px;
	padding:5px;
}
ul#of7-tabs li.current {
	background-image: none;
}

ul#of7-tabs li a {
	background:url(/images/layout/havatar16x16.jpg) no-repeat left center;
	float:left;
	text-decoration:none;
	display:block;
	padding-left:20px;
}




.ui-tabs-hide{ display:none; }
#tabs1 {
  clear:both;
}
#tabs1 ul.t {
	width:519px;
	float:right;
	list-style:none;
	background-color:#f4f1e6;
	padding:15px 0 0 20px;
	margin:0 0 20px 0;
}
#tabs1 ul.t li {
	float:left;
	background:#fff url(/images/layout/bg_aba.jpg) repeat-x bottom;
	margin:0 4px 0 0;
	font-size:13px;
	padding:5px;
}
#tabs1 ul.t li.ui-tabs-selected {
	background-image: none;
}

#tabs1 ul.t li a {
	background:url(/images/layout/havatar16x16.jpg) no-repeat left center;
	float:left;
	text-decoration:none;
	display:block;
	padding-left:20px;
}






