<div class="view-in">

<ul id="menu-abas">
  <li class="atual"><img src="/images/layout/havatar16x16.jpg" width="16" height="16" />All Executs</li>
  <li><a href="#" class="tab-switcher" data-tab="#view2"><img src="/images/layout/havatar16x16.jpg" width="16" height="16" />Status (X)</a></li>
  <li><a href="#" class="tab-switcher" data-tab="#view3"><img src="/images/layout/havatar16x16.jpg" width="16" height="16" />Photo (Y)</a></li>
</ul>


<div class="ajax-content">

</div>

  <div class="p-botao">
    <a href="#" class="btn-script-invoker" data-script-url="<%= ajax_user_show_tab1_path %>">More</a>
  </div>


</div>
