<div style="background:white">


<ul id="menu-abas">
  <li class="atual">Tudo</li>
  <li><a href="#" class="tab-switcher" data-tab="#view2">Fotos</a></li>
  <li class="atual">Arquivos</li>
 
</ul>

<div class="ajax-content">

</div>

  <div class="p-botao">
    <a id="btn-more" href="#" class="btn-script-invoker" data-script-url="<%= ajax_user_show_tab3_path %>">More</a>
  </div>


</div>


</div>
