<ul id="menu-abas">
  <li><a href="#" class="tab-switcher" data-tab="#view1">Home</a></li>
  <li class="atual">Friends</li>
  <li><a href="#" class="tab-switcher" data-tab="#view3">Mention</a></li>
</ul>


<div style="background:white">

  <h1>Friends</h1>
  
  <div class="ajax-content">
  </div>
  
  <div class="p-botao">
    <a id="btn-more" href="#" class="btn-script-invoker" data-script-url="<%= ajax_home_index_tab2_path %>">More</a>
  </div>
          
</div>
