
ajax_content = $("#view1 .ajax-content").addClass("ajax-content-white");

<% if false %>
<% #if @posts.size == 0 %>
  //$("#view1 .p-botao").hide();
<% else %>
  <% r = raw escape_javascript(yield :output) %>
  ajax_content.append("<%= r %>");
<% end %>

<% if false %>

                <%2.times do%>
                <ul class="lista-perguntas">
                	<li class="havatar"><a href="#"><img src="/images/layout/Havatar50x50.jpg" width="50" height="50" alt="Name" border="0" /></a></li>
                    <li class="execute">Lorem Ipsum is simply dummy text of the printing and typesetting industry.<a href="#">Edgala</a></li>
                    <li class="hora"><a href="#">less than 10 seconds ago</a> - From Executter</li>
                    <li class="links"><a href="#">Responder depois</a><a href="#">Deletar</a></li>
                </ul>
                <%end%>


                
                <form class="executa">
                	<textarea cols="" rows="3"></textarea>
           			<div class="caracteres">196</div>
                	<div class="latest">Lorem Ipsum is simply dummy text of the printing and typesetting industry. <a href="#">Aenean@</a> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown. less than 5 seconds ago</div>
                    <div class="bt-execute">
                        <a href="">EXECUTE</a>
                    </div>
           	  </form>

           	  
                <%2.times do%>
                <ul class="lista-perguntas">
                	<li class="havatar"><a href="#"><img src="/images/layout/Havatar50x50.jpg" width="50" height="50" alt="Name" border="0" /></a></li>
                    <li class="execute">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
                    <li class="hora"><a href="#">less than 10 seconds ago</a> - From Executter</li>
                    <li class="links"><a href="#">Responder depois</a><a href="#">Deletar</a></li>
                </ul>
                <%end%>
<% end %>
