<% if true %>
          <ul id="menu-abas">
            <li class="atual"><img src="/images/layout/havatar16x16.jpg" width="16" height="16" />Status</li>
          </ul>
<% end %>


<div style="background:white">

<% if false %>

            <li><a href="#" class="tab-switcher" data-tab="#view2"><img src="/images/layout/havatar16x16.jpg" width="16" height="16" />Perguntas (7)</a></li>



          <ul class="alert">
              <li><img src="/images/layout/havatar16x16.jpg" width="16" height="16" />Lorem Ipsum is simply dummy text of the printing <a href="">Nascetur</a></li>
              <li><img src="/images/layout/havatar16x16.jpg" width="16" height="16" />Lorem Ipsum is simply dummy text of the printing <a href="">Nascetur</a></li>
              <li><img src="/images/layout/havatar16x16.jpg" width="16" height="16" />Lorem Ipsum is simply dummy text of the printing <a href="">Nascetur</a></li>
          </ul>
<% end %>

          <h1>Home</h1>

          <div class="ajax-content">
            
          </div>


          
          <div class="p-botao">
            <a id="btn-more" href="#" class="btn-script-invoker" data-script-url="<%= ajax_home_index_tab1_path %>">More</a>
          </div>
          
</div>
