
          <ul id="menu-abas">
            <li><a href="#" class="tab-switcher" data-tab="#view1"><img src="/images/layout/havatar16x16.jpg" width="16" height="16" />Status</a></li>
            <li class="atual"><img src="/images/layout/havatar16x16.jpg" width="16" height="16" />Perguntas (7)</li>
          </ul>



              <ul id="perguntas">
	              <li><span>6</span>Perguntas esperando respostas</li>
                <li><span>8</span>Perguntas respondidas</li>
              </ul> 



              <h1>Perguntas</h1>
              
              <div class="ajax-content">
                
              </div>


              
              <div class="p-botao">
                <a href="#" class="btn-script-invoker" data-script-url="<%= ajax_home_index_tab2_path %>">More</a>
              </div>
