<% my_title "Settings" %>
<% my_css_files "base", "header", "settings","sidebar","footer" %>

  <ul id="abas-settings">

      <li><a href="/home/settings_1profile">Profile</a></li>
      <li class="atual">Account</li>
      <li><a href="/home/settings_3password">Password</a></li>
      <li><a href="/home/settings_picture">Picture</a></li>
      <li><a href="/home/settings_design">Design</a></li>
      <li><a href="/home/settings_notices">Notices</a></li>

  </ul>
