<h1>Listing xlinks</h1>

<table width="100%">
  <tr>
    <th>User</th>
    <th>Micro</th>
    <th>File width</th>
    <th>File height</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @xlinks.each do |xlink| %>
  <tr>
    <td><%= link_to "@#{xlink.user.username}", profile_path( xlink.user.username), :target=>'_blank' %></td>
    <td><%= link_to xlink.micro, micro_path(xlink.micro), :target=>'_blank' %></td>
    <td><%= xlink.file_width %></td>
    <td><%= xlink.file_height %></td>
    <td><%#= link_to 'Show', micro_path(xlink.micro) %></td>
    <td><%#= link_to 'Edit', edit_xlink_path(xlink) %></td>
    <td><%#= link_to 'Destroy', xlink.id, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%#= link_to 'New Xlink', new_xlink_path %>
