@charset "utf-8";
/* CSS Document */


div#sidebar {
	width:280px;
	height:100%;
	min-height:100%;
	float:right;
}
div#sidebar .banner {
	border-right:1px solid #ff9900;
}
div#sidebar #username {
	width:220px;
	float:left;
	padding:20px 0 0 20px;
}
div#sidebar #username img {
	float:left;
}
div#sidebar #username a {
	float:left;
	padding:3px 0 0 7px;
	font-size:18px;
	font-weight:bold;
}
