<html>
  <head>
    <%# my_css_files "base", "header","cadastro","sabor","sidebar","footer" %>
    <%= javascript_include_tag :defaults, 'application.home.new_post' %>
    <%= stylesheet_link_tag '/layout1/css/base', '/layout1/css/sabor', '/layout1/css/home', 'application', 'application.home.new_post' %>
  </head>
  <body><%= yield %></body>
</html>
